.card {
    width: 90%;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 2rem 3rem;
    display: block;
    margin: 2rem auto;
    border-radius: 5px;
}

@media only screen and (min-width: 550px) {
    .card {
        width: 70%;
    }
}